{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'tw/output.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <div class="p-10">
      <h1
        class="bg-pink-500 hover:bg-green-600 hover:text-white transform:border-dashed p-6 rounded-full text-center ring-offset-emerald-200"
      >
        Hello World!
      </h1>
    </div>


<div class="p-10 justify-center text-center">
  <button class="bg-green-500 rounded-lg p-4 justify-center hover:bg-pink-500 hover:text-white">Click me</button>

</div>
    
  </body>
</html>
